{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Join Ecovest</h1>
                    <p class="card-text text-center">Create an account to start investing in a sustainable future.</p>
                    <form method="post" class="mt-4" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}